$gold: #FFB900;
$coral: #FC636B;
$brightCoral: #FF6D92;
.unused {
  color:black;
}
body {
  $opacity: 90%;
  color: #FFF;
  background-color:black;
  background: linear-gradient(
                  to top right,
                  mix(black, white, $opacity) 10%,
                  mix(black, white, $opacity) 65%,
                  mix(black, white, $opacity) 125%);
}
.something {
  display:flex;
}
#page {
  opacity:0;
  transition: 1s opacity;
}
#page.active {
  opacity:1;
}
#preloader {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s opacity ;
  opacity:1;
}
#preloader.die {
  opacity:0;
}
#phrase_box {
  display: flex;
  flex-flow: column;
  height: 150px;
  overflow: hidden;
  width: 260px;
}

#phrases {
  animation: slide-phrases-upward 20s;
}

#footer {
  bottom: 30px;
  color: white;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
}

@keyframes slide-phrases-upward {
  @for $i from 0 through 20 {
    #{$i * 5%} {
      transform: translateY($i * -50px);
    }
  }
}

.checkCircleExtender {
  animation: fill-to-white 5000ms;
  fill: white;
  opacity: 0;
}
@for $i from 0 through 20 {
  #loadingCheckCircleSVG-#{$i} {
    @extend .checkCircleExtender;
    animation-delay: ($i - 1.5) * 1s;

  }
}
@keyframes fill-to-white {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.checkSVGExtender {
  animation: fill-to-coral 5000ms;
}
@for $i from 0 through 20 {
  #loadingCheckSVG-#{$i} {
    @extend .checkSVGExtender;
    animation-delay: ($i - 1.5) * 1s;
  }
}
@keyframes fill-to-coral {
  0% {
    fill: white;
  }
  10% {
    fill: $brightCoral;
  }
  100% {
    fill: $brightCoral;
  }
}